html
	head
		link(href='css/styles.css', rel='stylesheet')
		script(src='js/view.js')
		title= "Barrett RTC" 
	input(type="checkbox", id="icon_toggle", name="", value="")
	body
		.content_shell
			#nav_drawer
				ul#drawer_menu
					li
						a Home
					li
						a Posts
					li
						a Projects
					li
						a About
			.navbar
				label(for="icon_toggle").toggle ≡
				#head_logo
					img(src="http://imgur.com/xeqNAGJ.png")
				#banner
					ul#banner_menu
						li 
							a Home
						li
							a Posts
						li
							a Projects
						li
							a About
						.clearfix
			.carousel
				#header
					.container

					#media_block
						#ad_logo
							.container

				#page_wrap
					.container
						#service_block
						#tips_block
						#dynamic_content_block
						p
							span.strong Lorem 
							|ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ornare orci. Morbi et mattis arcu. Proin vel bibendum justo. Sed eleifend lacus sed enim faucibus, id pharetra turpis semper. Fusce molestie imperdiet commodo. Vivamus elementum elit nibh, eu feugiat orci aliquam sed. Praesent venenatis neque sed nunc bibendum ultricies.
							p 
								span.strong Lorem 
								|Donec iaculis, justo non dapibus feugiat, purus dolor consectetur leo, a sollicitudin ipsum odio quis velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque vestibulum leo quis finibus condimentum. Fusce egestas, turpis at vulputate imperdiet, odio quam rhoncus erat, quis bibendum ligula arcu eu tortor. Nulla rutrum vel risus at congue. Mauris quis euismod sem. Maecenas in posuere turpis, eu vehicula mauris.
							p Nulla diam turpis, placerat et tortor sit amet, volutpat gravida ante. Nunc vitae est vitae sapien ultricies tempus. Fusce eu ex est. Maecenas lobortis mattis ante, at fringilla justo rhoncus vitae. 
								span.bold Praesent 
								|eu justo faucibus, sodales dui at, bibendum ipsum. Donec eget magna eget odio consectetur volutpat at luctus massa. Nulla facilisi. Nam vulputate nibh non nulla scelerisque, nec 
								span.strong condimentum 
								|nunc volutpat. Aenean sit amet est nec justo lobortis hendrerit. Cras sit amet augue augue. Nullam nulla ligula, elementum et metus non, fermentum porta felis. Morbi in nunc tempor urna tristique molestie ac nec augue. Aliquam erat volutpat. Vivamus vel dapibus ex, at dapibus sem. Phasellus mollis blandit tincidunt. Curabitur id felis quis metus congue cursus ut sed felis. Fusce porttitor eros est, ut dapibus leo eleifend non. Nulla tellus ex, aliquet id sagittis et.
					footer.container
						#contact_block
							p.strong Praesent venenatis neque sed nunc bibendum ultricies.
						#logo_block
